<h1>Welcome</h1>

<%= link_to 'Add New Loan', new_loan_path %>
<br>
<%= link_to 'Add New Vehicle', new_car_path %>
<br>
<h2>Instructions</h2>
<p>This app was built for loan officers in mind. The user is able to create multiple vehicles with an associated customer name. 
Creating a loan is slightly different, you must associate a loan with a given vehicle. Thus you are able to create multiple 
vehicles with multiple loans. Because this app gives you a lot of freedom, make sure you stay organized. Customer names and loan category names 
are very important and they should be based on ease of association. </p>